{
  "openapi": "3.1.0",
  "info": {
    "title": "bankstract-cloud API",
    "description": "Statement parsing API for Nigerian banks. Parse a PDF/XLSX statement into structured transactions over a single HTTP call. API consumers interact over HTTP and do not inherit the AGPL-3.0 license of the hosted service.",
    "license": {
      "name": "AGPL-3.0-only",
      "url": "https://www.gnu.org/licenses/agpl-3.0.html"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://bankstract.logickoder.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Liveness probe",
        "description": "Returns 200 once the process is up. No auth, no dependencies checked.",
        "operationId": "healthz_healthz_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Readiness probe",
        "description": "Reports whether the audit DB and the parsing engine are reachable. `degraded` means one is down and the worker should not take traffic.",
        "operationId": "readyz_readyz_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Worker and engine version",
        "description": "Returns the running worker version and the bundled bankstract engine version.",
        "operationId": "status_v1_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List supported banks",
        "description": "The bank ids the engine can auto-detect, for the optional `bank` parse override.",
        "operationId": "banks_v1_banks_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BanksResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Current billing-period usage",
        "description": "Successful parses across the key owner's keys this cycle, the tier cap, and the projected overage in NGN. Failed parses never count.",
        "operationId": "usage_v1_usage_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Owner usage aggregation (admin)",
        "description": "Admin-only. Aggregates audit metadata across all keys owned by `owner` for the current cycle. Powers the dashboard Overview + Usage.",
        "operationId": "admin_usage_v1_admin_usage_get",
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "title": "Owner"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerUsageResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/metrics": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Operator funnel metrics (admin)",
        "description": "Admin-only. The usage-to-paid funnel derived from existing metadata: demo parses, API parses, owners with a key, and active subscriptions. No client tracking.",
        "operationId": "admin_metrics_v1_admin_metrics_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunnelResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/owner": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Erase an owner's data (admin)",
        "description": "Admin-only. Cancels any live Paystack subscription, then deletes every row tied to `owner` (keys, subscription, cycle tiers, invoices, audit metadata). Right to erasure (NDPR). If the Paystack cancel fails, nothing is deleted (a live charge is never orphaned).",
        "operationId": "delete_owner_v1_admin_owner_delete",
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "title": "Owner"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "boolean"
                  },
                  "title": "Response Delete Owner V1 Admin Owner Delete"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys": {
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Issue an API key",
        "description": "Admin-only. Returns the raw key exactly once; only its argon2 hash is stored.",
        "operationId": "create_key_v1_keys_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyCreatedResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "List API keys",
        "description": "Admin-only. Lists key metadata (never the raw key) for an owner, including revoked keys for the audit trail.",
        "operationId": "list_keys_v1_keys_get",
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Owner"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyListResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/{key_id}": {
      "delete": {
        "tags": [
          "Keys"
        ],
        "summary": "Revoke an API key",
        "description": "Admin-only. Marks the key revoked (never deletes it, for the audit trail). A revoked key stops parsing immediately.",
        "operationId": "revoke_key_v1_keys__key_id__delete",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/billing/subscribe": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Start a subscription checkout (admin)",
        "description": "Admin-only. Initializes a Paystack transaction for the tier's plan and returns inline-checkout params. apps/app proxies this; the Paystack secret stays worker-side.",
        "operationId": "admin_subscribe_v1_admin_billing_subscribe_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscribeResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/billing/status": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Owner subscription status (admin)",
        "description": "Admin-only. The owner's tier, status (active/inactive/none), and current period end. The dashboard reads this; the worker is the source of truth.",
        "operationId": "admin_subscription_status_v1_admin_billing_status_get",
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "title": "Owner"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionStatusResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/billing/charge-overage": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Bill the owner's current overage (admin, manual)",
        "description": "Admin-only. Computes this cycle's overage from audit success counts and raises a Paystack invoice for it. Manual trigger until an end-of-cycle cron lands.",
        "operationId": "admin_charge_overage_v1_admin_billing_charge_overage_post",
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "title": "Owner"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverageChargeResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/parse": {
      "post": {
        "tags": [
          "Parse"
        ],
        "summary": "Parse a bank statement",
        "description": "Upload a PDF (or XLSX) statement and get structured transactions back. `?format=json` (default) returns ParseResponse; `?format=csv` returns the engine-serialized CSV. `redact=true` returns the redacted document bytes. The file is parsed in memory and never written to disk.",
        "operationId": "parse_v1_parse_post",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "json",
                "csv"
              ],
              "type": "string",
              "default": "json",
              "title": "Format"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_parse_v1_parse_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParseResponse"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Payment Required"
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/parse/jobs": {
      "post": {
        "tags": [
          "Parse"
        ],
        "summary": "Submit a long parse as an async job",
        "description": "Queue a statement parse and stream engine progress over Server-Sent Events. Returns 202 with a job_id, an SSE stream_url, and a poll_url fallback. Mirrors /v1/parse: `?format=csv` and `redact=true` are supported. json rides the SSE result event; csv and redact bytes are fetched from /v1/parse/jobs/{id}/result. Use this for large statements; small ones are faster on the synchronous /v1/parse.",
        "operationId": "submit_job_v1_parse_jobs_post",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "json",
                "csv"
              ],
              "type": "string",
              "default": "json",
              "title": "Format"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_submit_job_v1_parse_jobs_post"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAccepted"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Payment Required"
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Request Entity Too Large"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/parse/jobs/{job_id}/stream": {
      "get": {
        "tags": [
          "Parse"
        ],
        "summary": "Stream parse progress (SSE)",
        "description": "Server-Sent Events for a job: data lines carry {stage,current,total} progress, then a final `event: result` carries the ParseResponse (success) or the error envelope. No Authorization header: the unguessable job_id is the capability, since EventSource cannot send headers. One consumer per job.",
        "operationId": "stream_job_v1_parse_jobs__job_id__stream_get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/parse/jobs/{job_id}": {
      "get": {
        "tags": [
          "Parse"
        ],
        "summary": "Poll a parse job",
        "description": "JSON snapshot of a job, the polling fallback to SSE. result appears once state is done; the error fields once failed.",
        "operationId": "poll_job_v1_parse_jobs__job_id__get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobSnapshot"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/parse/jobs/{job_id}/result": {
      "get": {
        "tags": [
          "Parse"
        ],
        "summary": "Download a finished job's result",
        "description": "The byte channel for csv/redact jobs (the SSE result event carries JSON only). Returns the ParseResponse JSON for a json job, or the CSV / redacted bytes for csv / redact. 404 until the job is done, or after its result is swept.",
        "operationId": "job_result_v1_parse_jobs__job_id__result_get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BankInfo": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "BankInfo"
      },
      "BanksResponse": {
        "properties": {
          "banks": {
            "items": {
              "$ref": "#/components/schemas/BankInfo"
            },
            "type": "array",
            "title": "Banks"
          },
          "engine_version": {
            "type": "string",
            "title": "Engine Version"
          }
        },
        "type": "object",
        "required": [
          "banks",
          "engine_version"
        ],
        "title": "BanksResponse"
      },
      "Body_parse_v1_parse_post": {
        "properties": {
          "pdf": {
            "type": "string",
            "contentMediaType": "application/octet-stream",
            "title": "Pdf"
          },
          "bank": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bank"
          },
          "redact": {
            "type": "boolean",
            "title": "Redact",
            "default": false
          },
          "turnstile_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Turnstile Token"
          }
        },
        "type": "object",
        "required": [
          "pdf"
        ],
        "title": "Body_parse_v1_parse_post"
      },
      "Body_submit_job_v1_parse_jobs_post": {
        "properties": {
          "pdf": {
            "type": "string",
            "contentMediaType": "application/octet-stream",
            "title": "Pdf"
          },
          "bank": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bank"
          },
          "redact": {
            "type": "boolean",
            "title": "Redact",
            "default": false
          },
          "turnstile_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Turnstile Token"
          }
        },
        "type": "object",
        "required": [
          "pdf"
        ],
        "title": "Body_submit_job_v1_parse_jobs_post"
      },
      "DailyCount": {
        "properties": {
          "date": {
            "type": "string",
            "title": "Date"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          }
        },
        "type": "object",
        "required": [
          "date",
          "count"
        ],
        "title": "DailyCount"
      },
      "ErrorResponse": {
        "properties": {
          "error": {
            "type": "string",
            "title": "Error"
          },
          "error_class": {
            "type": "string",
            "title": "Error Class"
          },
          "format_version": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Format Version"
          },
          "marker_coverage": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Marker Coverage"
          }
        },
        "type": "object",
        "required": [
          "error",
          "error_class"
        ],
        "title": "ErrorResponse",
        "description": "Error envelope for all non-2xx responses. `error_class` is one of:\n\n- `EncryptedSourceError`: source is password-protected\n- `EmptyStatementError`: parsed clean, zero rows (see `marker_coverage`)\n- `LayoutDriftError`: bank detected, structure broke\n- `ReconciliationError`: totals don't match the statement\n- `ParseError`: last-resort parse failure\n- `AuthError` / `PayloadTooLarge` / `RateLimitError` / `ServiceUnavailable` /\n  `WorkerError`: framework concerns\n\n`marker_coverage` is populated only for `EmptyStatementError`: high coverage with\nzero rows \u2248 legitimately empty; lower coverage \u2248 silent layout drift."
      },
      "FunnelResponse": {
        "properties": {
          "demo_parses": {
            "type": "integer",
            "title": "Demo Parses"
          },
          "api_parses": {
            "type": "integer",
            "title": "Api Parses"
          },
          "owners": {
            "type": "integer",
            "title": "Owners"
          },
          "active_subscriptions": {
            "type": "integer",
            "title": "Active Subscriptions"
          }
        },
        "type": "object",
        "required": [
          "demo_parses",
          "api_parses",
          "owners",
          "active_subscriptions"
        ],
        "title": "FunnelResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "HealthResponse": {
        "properties": {
          "status": {
            "type": "string",
            "const": "ok",
            "title": "Status"
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "HealthResponse"
      },
      "JobAccepted": {
        "properties": {
          "job_id": {
            "type": "string",
            "title": "Job Id"
          },
          "stream_url": {
            "type": "string",
            "title": "Stream Url"
          },
          "poll_url": {
            "type": "string",
            "title": "Poll Url"
          }
        },
        "type": "object",
        "required": [
          "job_id",
          "stream_url",
          "poll_url"
        ],
        "title": "JobAccepted",
        "description": "202 response from POST /v1/parse/jobs. Open the SSE `stream_url` for live progress, or fall\nback to polling `poll_url`."
      },
      "JobSnapshot": {
        "properties": {
          "job_id": {
            "type": "string",
            "title": "Job Id"
          },
          "state": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "done",
              "failed"
            ],
            "title": "State"
          },
          "result_kind": {
            "type": "string",
            "enum": [
              "json",
              "csv",
              "redact"
            ],
            "title": "Result Kind",
            "default": "json"
          },
          "progress": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ProgressSnapshot"
              },
              {
                "type": "null"
              }
            ]
          },
          "result": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ParseResponse"
              },
              {
                "type": "null"
              }
            ]
          },
          "result_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Result Url"
          },
          "format_version": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Format Version"
          },
          "redactions": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Redactions"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error"
          },
          "error_class": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Class"
          }
        },
        "type": "object",
        "required": [
          "job_id",
          "state"
        ],
        "title": "JobSnapshot",
        "description": "Poll fallback for an async parse job. For a `json` job, `result` is the ParseResponse once\n`done`. For `csv`/`redact`, the bytes are not inlined: fetch them from `result_url`. The error\nfields are populated once `failed`."
      },
      "KeyCreateRequest": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "env": {
            "type": "string",
            "enum": [
              "live",
              "test"
            ],
            "title": "Env",
            "default": "test"
          },
          "owner": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Owner"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "KeyCreateRequest"
      },
      "KeyCreatedResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "key": {
            "type": "string",
            "title": "Key"
          },
          "prefix": {
            "type": "string",
            "title": "Prefix"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "env": {
            "type": "string",
            "title": "Env"
          },
          "tier": {
            "type": "string",
            "title": "Tier"
          }
        },
        "type": "object",
        "required": [
          "id",
          "key",
          "prefix",
          "name",
          "env",
          "tier"
        ],
        "title": "KeyCreatedResponse",
        "description": "Returned once, on creation. The only time the raw key is ever exposed."
      },
      "KeyInfo": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "prefix": {
            "type": "string",
            "title": "Prefix"
          },
          "env": {
            "type": "string",
            "title": "Env"
          },
          "tier": {
            "type": "string",
            "title": "Tier"
          },
          "owner": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Owner"
          },
          "created_at": {
            "type": "string",
            "title": "Created At"
          },
          "revoked_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Revoked At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "prefix",
          "env",
          "tier",
          "owner",
          "created_at",
          "revoked_at"
        ],
        "title": "KeyInfo"
      },
      "KeyListResponse": {
        "properties": {
          "keys": {
            "items": {
              "$ref": "#/components/schemas/KeyInfo"
            },
            "type": "array",
            "title": "Keys"
          }
        },
        "type": "object",
        "required": [
          "keys"
        ],
        "title": "KeyListResponse"
      },
      "OverageChargeResponse": {
        "properties": {
          "owner": {
            "type": "string",
            "title": "Owner"
          },
          "overage_parses": {
            "type": "integer",
            "title": "Overage Parses"
          },
          "request_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Request Code"
          }
        },
        "type": "object",
        "required": [
          "owner",
          "overage_parses",
          "request_code"
        ],
        "title": "OverageChargeResponse"
      },
      "OwnerUsageResponse": {
        "properties": {
          "owner": {
            "type": "string",
            "title": "Owner"
          },
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier"
          },
          "period_parses": {
            "type": "integer",
            "title": "Period Parses"
          },
          "success_rate": {
            "type": "number",
            "title": "Success Rate"
          },
          "monthly_cap": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Monthly Cap"
          },
          "overage_parses": {
            "type": "integer",
            "title": "Overage Parses"
          },
          "projected_overage_naira": {
            "type": "string",
            "title": "Projected Overage Naira"
          },
          "daily": {
            "items": {
              "$ref": "#/components/schemas/DailyCount"
            },
            "type": "array",
            "title": "Daily"
          }
        },
        "type": "object",
        "required": [
          "owner",
          "tier",
          "period_parses",
          "success_rate",
          "monthly_cap",
          "overage_parses",
          "projected_overage_naira",
          "daily"
        ],
        "title": "OwnerUsageResponse"
      },
      "ParseResponse": {
        "properties": {
          "format_version": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Format Version"
          },
          "metadata": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StatementMetadataOut"
              },
              {
                "type": "null"
              }
            ]
          },
          "totals": {
            "$ref": "#/components/schemas/TotalsOut"
          },
          "row_wise_reconcilable": {
            "type": "boolean",
            "title": "Row Wise Reconcilable"
          },
          "transactions": {
            "items": {
              "$ref": "#/components/schemas/TransactionOut"
            },
            "type": "array",
            "title": "Transactions"
          }
        },
        "type": "object",
        "required": [
          "format_version",
          "metadata",
          "totals",
          "row_wise_reconcilable",
          "transactions"
        ],
        "title": "ParseResponse"
      },
      "ProgressSnapshot": {
        "properties": {
          "stage": {
            "type": "string",
            "title": "Stage"
          },
          "current": {
            "type": "integer",
            "title": "Current"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          }
        },
        "type": "object",
        "required": [
          "stage",
          "current",
          "total"
        ],
        "title": "ProgressSnapshot"
      },
      "ReadyResponse": {
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "degraded"
            ],
            "title": "Status"
          },
          "engine": {
            "type": "boolean",
            "title": "Engine"
          },
          "database": {
            "type": "boolean",
            "title": "Database"
          }
        },
        "type": "object",
        "required": [
          "status",
          "engine",
          "database"
        ],
        "title": "ReadyResponse"
      },
      "StatementMetadataOut": {
        "properties": {
          "bank": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bank"
          },
          "account_holder": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Holder"
          },
          "account_number_masked": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Number Masked"
          },
          "statement_period_start": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Statement Period Start"
          },
          "statement_period_end": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Statement Period End"
          },
          "opening_balance": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Opening Balance"
          },
          "closing_balance": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Closing Balance"
          }
        },
        "type": "object",
        "required": [
          "bank",
          "account_holder",
          "account_number_masked",
          "statement_period_start",
          "statement_period_end",
          "opening_balance",
          "closing_balance"
        ],
        "title": "StatementMetadataOut"
      },
      "StatusResponse": {
        "properties": {
          "status": {
            "type": "string",
            "const": "ok",
            "title": "Status"
          },
          "worker_version": {
            "type": "string",
            "title": "Worker Version"
          },
          "engine_version": {
            "type": "string",
            "title": "Engine Version"
          }
        },
        "type": "object",
        "required": [
          "status",
          "worker_version",
          "engine_version"
        ],
        "title": "StatusResponse"
      },
      "SubscribeRequest": {
        "properties": {
          "owner": {
            "type": "string",
            "title": "Owner"
          },
          "email": {
            "type": "string",
            "title": "Email"
          },
          "tier": {
            "type": "string",
            "enum": [
              "starter",
              "growth",
              "scale"
            ],
            "title": "Tier"
          },
          "interval": {
            "type": "string",
            "enum": [
              "monthly",
              "annual"
            ],
            "title": "Interval",
            "default": "monthly"
          },
          "callback_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Callback Url"
          }
        },
        "type": "object",
        "required": [
          "owner",
          "email",
          "tier"
        ],
        "title": "SubscribeRequest"
      },
      "SubscribeResponse": {
        "properties": {
          "authorization_url": {
            "type": "string",
            "title": "Authorization Url"
          },
          "access_code": {
            "type": "string",
            "title": "Access Code"
          },
          "reference": {
            "type": "string",
            "title": "Reference"
          }
        },
        "type": "object",
        "required": [
          "authorization_url",
          "access_code",
          "reference"
        ],
        "title": "SubscribeResponse"
      },
      "SubscriptionStatusResponse": {
        "properties": {
          "owner": {
            "type": "string",
            "title": "Owner"
          },
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "current_period_end": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Period End"
          }
        },
        "type": "object",
        "required": [
          "owner",
          "tier",
          "status",
          "current_period_end"
        ],
        "title": "SubscriptionStatusResponse"
      },
      "TotalsOut": {
        "properties": {
          "credit": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit"
          },
          "debit": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Debit"
          }
        },
        "type": "object",
        "required": [
          "credit",
          "debit"
        ],
        "title": "TotalsOut"
      },
      "TransactionOut": {
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time",
            "title": "Date"
          },
          "narration": {
            "type": "string",
            "title": "Narration"
          },
          "debit": {
            "type": "string",
            "title": "Debit"
          },
          "credit": {
            "type": "string",
            "title": "Credit"
          },
          "balance": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Balance"
          },
          "reference": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Reference"
          },
          "currency": {
            "type": "string",
            "title": "Currency"
          }
        },
        "type": "object",
        "required": [
          "date",
          "narration",
          "debit",
          "credit",
          "balance",
          "reference",
          "currency"
        ],
        "title": "TransactionOut"
      },
      "UsageResponse": {
        "properties": {
          "api_key_id": {
            "type": "string",
            "title": "Api Key Id"
          },
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier"
          },
          "period_parses": {
            "type": "integer",
            "title": "Period Parses"
          },
          "monthly_cap": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Monthly Cap"
          },
          "overage_parses": {
            "type": "integer",
            "title": "Overage Parses"
          },
          "projected_overage_naira": {
            "type": "string",
            "title": "Projected Overage Naira"
          }
        },
        "type": "object",
        "required": [
          "api_key_id",
          "tier",
          "period_parses",
          "monthly_cap",
          "overage_parses",
          "projected_overage_naira"
        ],
        "title": "UsageResponse"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  },
  "tags": [
    {
      "name": "Parse",
      "description": "Turn a statement into structured data."
    },
    {
      "name": "Keys",
      "description": "Issue, list, and revoke API keys (admin-only)."
    },
    {
      "name": "Billing",
      "description": "Paystack subscription checkout, status, and webhook."
    },
    {
      "name": "Account",
      "description": "Usage, supported banks, and version."
    },
    {
      "name": "Health",
      "description": "Liveness and readiness probes."
    }
  ]
}
